@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <h5 class="card-title">
        <p>The aim of this website is to provide a one-stop location for books and papers requires by university students, alongwith career guidance. All of which is monitored real-time and stored in the respective user database.
   </p>
<p>Querays - It resembles Queries, actually it is the composite of Questions and RAYS(developers names' initials).</p>  
</h5>
</div>
<div class="imgback">
    <a href="https://iitj.ac.in/">
        <center>
            <img class="img-responsive" style="max-width: 100%;" src="https://iitj.ac.in/images/logo/edited_logoslogan_eng_hindi copy.png" alt="">
        </center>
    </a>
</div>
<p>
    <div class="card">
    <h5 class="card-title">
        This website is developed under the course Engineering Design offered by IIT, Jodhpur to first-year UG B.Tech. students, like the developers of this site - ED Group 7 Team E:-
    </h5>
    </div>
</p>

<div class="card-columns" style="text-align:center">
    <div class="card">
        <h5 class="card-title">Yash Shrivastava</h5>
    </div>
    <div class="card">
        <h5 class="card-title">Soham N. Deshmukh</h5>
    </div>
    <div class="card">
        <h5 class="card-title">Anushka Barkade</h5>
    </div>
    <div class="card">
        <h5 class="card-title">Samyak V. Haribhakta</h5>
    </div>
    <div class="card">
        <h5 class="card-title">Rahul Gurjar</h5>
    </div>
    <div class="card">
        <h5 class="card-title">Riya Pankaj</h5>
    </div>
    <div class="card">
        <h5 class="card-title">Suyash S. Chougale</h5>
    </div>
</div>