@page
@model Querays.Pages.CareerModel
@{
    ViewData["Title"] = "Career";
}
<h1>Career Guidance</h1>

<p>We are planning to introduce career counselling in this page, based on students' qualification.</p>