@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Querays</b></h1>
    <h4 class="display-6">An educational website project </h4>
</div>
